@use 'base/variables' as v;
@use 'base/mixins' as m;

.reestablecer{
    margin-top: 4rem;

    .uptask{
        @include m.texto-degradado(v.$azul);
    }

    input[type="submit"]{
        @include m.boton(v.$azul, v.$blanco);
    }

    .acciones{
        a:hover{
            color: v.$azul;
        }

    }
}